.movie-thumbnail{
    height: 450px;
}

.input-go-to-page{
    max-width: 52px;
}

a:hover{
  color:blue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
